fastapi
uvicorn
pydantic
python-jose
passlib[bcrypt]
pymongo
python-dotenv
python-multipart
Pillow
pydantic[email]
email-validator
bcrypt
pandas
openpyxl
xlrd
numpy
scipy
statsmodels
python-dateutil